<% if user_signed_in? %>
  <div id="backbone-index-boards">
    <h1>Boards</h1>
  </div>
<% else %>
  <div class="jumbotron">
    <h1 class="mm-brand large">Marshmellow</h1>
    <p>Get Organized.</p>
    <%= link_to "Sign Up - It's Free!", new_user_registration_url, class: "btn btn-primary btn-large" %>
  </div>
<% end %>
