<% if user_signed_in? %>
  <div id="backbone-index-boards">
    <h3>My Boards</h3>
  </div>
<% else %>
  <div class="jumbotron">
    <h1 class="mm-brand large">Marshmellow</h1>
    <p>Get Organized.</p>
    <%= link_to "Sign Up - It's Free!", new_user_registration_url, class: "btn btn-primary btn-large" %>
  </div>
<% end %>
<%= content_for :javascript do %>
  <%= render 'shared/bootstrap' %>
<% end %>
