<div class="row">
  <header>
    <nav class="navbar navbar-default mm-navbar" role="navigation">
      <div class="navbar-header">
        <a href="/#" class="navbar-brand"><h1 class="mm-brand-center mm-brand medium">Marshmellow</h1></a>
      </div>
      </div>
    </nav>
  </header>
</div>