.navbar-brand, .mm-brand {
  font-family: 'Pacifico', cursive;
}

.mm-navbar {
  position: relative;
}

.mm-brand-center {
  position: absolute;
  width: 80px;
  font-size: 18px;
  margin-left: -40px;
  left: 50%;
  top: -10px;
}

.header-gravatar {
  padding: 0px;
}

.navbar {
  padding: .5em 0;
}

/* dropdown menu panel styles */

.profile-dropdown {
  position: relative;
}

.profile-dropdown-show-hide__content {
  position: absolute;
  top: 3.5em;
  right: 0;
  padding: 1em;
  background-color: #fff;
  color: $happy-color;
  float: none;
}
