/* twitter bootstrap takes care of basic reset and styles */

@import url(http://fonts.googleapis.com/css?family=Pacifico);

/* TODO: refactor styles into sep. files */

$brand-color: #23719F;

.navbar-brand, .mm-brand {
  font-family: 'Pacifico', cursive;
}

.mm-navbar {
  position: relative;
}

.mm-brand-center {
  position: absolute;
  width: 80px;
  font-size: 18px;
  margin-left: -40px;
  left: 50%;
  top: -10px;
}

.medium {
  font-size: 24px;
  margin-left: -50px;
}

.header-gravatar {
  padding: 0px;
}

.navbar {
  padding: .5em 0;
}

.board-show-link {
  display: block;
  height: 90px;
  background-color: $brand-color;
  margin-bottom: .4em;
  color: #fff;
  &:hover {
    background-color: scale-color($brand-color, $lightness: -10%);
    text-decoration: none;
    color: #fff;
  }
  &:active,
  &:visited {
    text-decoration: none;
    color: #fff;
  }
}

.offset-col-third {
  margin-left: 2.7%;
}

.offset-row-third{
  margin-left: -2.7%;
}
