/* twitter bootstrap takes care of basic reset and styles */

@import url(http://fonts.googleapis.com/css?family=Pacifico);

$base-padding: 1.5em;
$brand-color: #23719F;

.medium {
  font-size: 24px;
  margin-left: -50px;
}

.board-show-link {
  display: block;
  height: 90px;
  background-color: $brand-color;
  margin-bottom: .4em;
  color: #fff;
  &:hover {
    background-color: scale-color($brand-color, $lightness: -10%);
    text-decoration: none;
    color: #fff;
  }
  &:active,
  &:visited {
    text-decoration: none;
    color: #fff;
  }
}

.offset-col-third {
  margin-left: 2.7%;
}

.offset-row-third{
  margin-left: -2.7%;
}

.hide {
  /* deep nesting in Happy Cupcake is causing high priority styling.
  Override with !important, but
  TODO: convert Happy Cupcake to BEM and flatten out style nesting. */
  display: none !important;
}
